fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
huggingface-hub
faiss-cpu
pydantic
typing-extensions
pypdf
pandas
google-genai
python-multipart
